<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Comic</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/3.2.0/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='html5shiv/3.7.2/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h3>漫画抓取器</h3>
      </div>
      <form class="form-horizontal" role="form" action="/" method="post">
        <div class="form-group">
          <label for="path" class="col-sm-2 control-label">本地路径</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="path" name="path" value="F:/comic/"  required>
          </div>
        </div>
        <div class="form-group">
          <label for="url" class="col-sm-2 control-label">URL</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="url" name="url" placeholder="漫画网址" required autofocus value="http://ac.qq.com/Comic/comicInfo/id/518333">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">获取漫画信息</button>
          </div>
        </div>
      </form>
      <center><h4>{{ info.title }}</h4></center>
      <p>{{ info.brief_intrd }}</p>
      <div class="list-group">
      {%- for item in chapterList %}
        <a href="/{{ info.id }}/{{ item.seq + 1 }}" class="list-group-item">{{ item.t }}</a>
      {%- endfor %}
      </div>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='jquery/1.11.1/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/3.2.0/js/bootstrap.min.js') }}"></script>
  </body>
</html>